h1
{
    color:#EEEEEE;
    font-family:"Abril Fatface";
    font-size:50px;
}

.about
{
    color:#EEEEEE;
    font-family:"Abril Fatface";
    font-size:50px;
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
}

.menuzinho
{
    font-family:"Quicksand";
    font-size:20px;
}

h2
{
  font-family:"Abril Fatface";
  font-size:30px;

}

.container p {
  font-size: 40px;
}


.image {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title
{
    float:left;
}

body,.custom
{
    background-color:#212121;
    font-family:"Quicksand";
}

.parallax {


  /* The image used */
  background-image: url("images/yle_e_julia.jpg");

  opacity:0.5;

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rodape
{
  margin-top:50px;
}

h2 code {
  color: #0069D9;
}

main {
  margin-bottom: 40px;
}

footer h3 {
    font-family:"Quicksand";
  }


@media screen and (max-width: 1080px) {

  main h2 {
    font-size: 80px !important;
    margin-bottom:0px;
    margin-top:0px;
  }

  header nav ul a{
    font-size: 60px !important;
  }

  section h2 {
    font-size: 60px !important;
    text-align: center !important;
  }

  section p {
    font-size: 40px !important;
    text-align: center !important;
  }

  section a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 40px !important;
  }

  footer .card-header {
    font-size: 60px;
    font-family: "Abril Fatface";

  }

  footer h3 {
    font-size: 40px;
    font-family:"Quicksand";
  }

  footer p {
    font-size: 40px;
  }

  footer .card-footer {
    font-size: 30px;
  }
}